.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 80vh; /* Optional: Make the container full height of the viewport */
}

mat-card {
  width: 50%;
  margin: 15% auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}
mat-card:active {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(0.9);
  transition: 0.2s;
}
mat-card-content {
  text-align: center;
  font-size: 23px;
  font-style: oblique;
  font-weight: 500;
}

/* Table */

.table-container {
  width: 50%;
  margin-top: 20px; /* Optional: Add some spacing between the card and the table */
}
