<body>
  <div class="box">
    <div [routerLink]="['/admin', id, 'add-staff']" class="content">
      <img src="/assets/addStaff.png" alt="" />
      <h2>Add Staff</h2>
    </div>
  </div>

  <div class="box">
    <div [routerLink]="['/admin', id, 'staff']" class="content">
      <img src="/assets/staffs.png" alt="" />
      <h2>Staffs</h2>
    </div>
  </div>

  <div class="box">
    <div [routerLink]="['/admin', id, 'time-schedule']" class="content">
      <img src="/assets/timetable.jpg" alt="" />
      <h2>Time Schedule</h2>
    </div>
  </div>

  <div class="box">
    <div class="content">
      <img src="/assets/ss.avif" alt="" />
      <h2>Staff Schedul</h2>
    </div>
  </div>

  <div class="box">
    <div class="content">
      <img src="/assets/ProfileAvtar.jpg" alt="" />
      <h2>Profile</h2>
    </div>
  </div>
  <div class="box">
    <div class="content">
      <img src="/assets/notification.jpg" alt="" />
      <h2>Alerts</h2>
    </div>
  </div>
</body>
