<!-- <div class="container">
    <mat-card class="card">
        <mat-card-content>
            <img src="assets/addStaff.png" alt="">
        </mat-card-content>
        <div class="card-body">
            <h5 class="card-title">Add Staff</h5>
        </div>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <img src="assets/addStaff.png" alt="">

        </mat-card-content>
        <div class="card-body">
            <h5 class="card-title">Staff</h5>
        </div>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <img src="assets/addStaff.png" alt="">

        </mat-card-content>
        <div class="card-body">
            <h5 class="card-title">Time Schedule</h5>
        </div>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <img src="assets/addStaff.png" alt="">

        </mat-card-content>
        <div class="card-body">
            <h5 class="card-title">Staff Schedule</h5>
        </div>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <img src="assets/addStaff.png" alt="">

        </mat-card-content>
        <div class="card-body">
            <h5 class="card-title">Profile</h5>
        </div>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <img src="assets/addStaff.png" alt="">

        </mat-card-content>
        <div class="card-body">
            <h5 class="card-title">Alerts</h5>
        </div>
    </mat-card>

</div> -->
<body>
    <div class='box'>
        <div class="content">
            <img src="/assets/addStaff.png" alt="">
            <h2>Add Staff</h2>
        </div>
    </div>

    <div class='box'>
        <div class="content">
            <img src="/assets/staffs.png" alt="">
            <h2>Staffs</h2>
        </div>
    </div>

    <div class='box'>
        <div class="content">
            <img src="/assets/timetable.jpg" alt="">
            <h2>Time Schedule</h2>
        </div>
    </div>

    <div class='box'>
        <div class="content">
            <img src="/assets/ss.avif" alt="">
            <h2>Staff Schedul</h2>
        </div>
    </div>

    <div class='box'>
        <div class="content">
            <img src="/assets/ProfileAvtar.jpg" alt="">
            <h2>Profile</h2>
        </div>
    </div>
    <div class='box'>
        <div class="content">
            <img src="/assets/notification.jpg" alt="">
            <h2>Alerts</h2>
        </div>
    </div>
</body>
