mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left{
  display: flex;
  align-items: center;
}
.left span img {
  margin-top: 8px;
  width: 60px;
  height: 50px;
}
.spacer {
  flex: 1;
}

#orgName {
  margin-right: 600px;
  font-weight: bolder;
  font-size: larger;
}