mat-form-field {
  width: 100%;
}
.example-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.in {
  text-align: center;
}

.example-full-width {
  width: 80%;
  margin: auto;
}
